html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.theme-light {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
  --link-color: blue;
  --link-active: #42b983;
}
.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #131919;
  --color-accent: #12cdea;
  --font-color: #ffffff;
  --link-color: white;
  --link-active: #42b983;
}
